#root {
  min-height: 100vh;
}
.App {
  min-height: 100vh;
  height: 100%;
  position: relative;
  background-color: #186AB4;
}
.App .app-container{
  display: flex;
  height: calc(100% - 140px);
  width: calc(100% - 25px);
  margin: auto;
  box-shadow: 3px 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.keypad-section{
  padding: 20px;
  width: 50%;
}
.keypad-container{
  background-color: #fff;
}
.wheel-section{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.title{
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.ticket-Range-box{    
  width: 50%;
  position: relative;
  bottom: 20px;
  background-color: #FFF7E6;
  height: 25px;
  align-items: center;
  margin: 0px auto;
  border-radius: 5px;
}
.ticket-Range-box .ticket-Range-text{
  transform: translate(-50%, -50%);
  color: #FAA653;
  position: absolute;
  left: 55%;
  top: 50%;
  width: 100%;
  font-weight: 600;
}
.add-tickets{
  position: relative;
  height: 60px;
  width: 100%;
}
.add-ticket-label{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-weight: 650;
  color: #312853;
  cursor: pointer;
}
.add-ticket-icon{
  height: 18px !important;
  width: 18px !important;
}
.App .app-container .wheel-section .App-header {
  background-color: unset ;
  min-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.result-ticket-list{
  height: 140px;
}

.result-ticket-list .ticket-list-heading{
  height: 30px;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  margin-top:10px;
}

.ticket-list-container{
    height: 110px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.ticket-list-container .ticket-container{
  display: flex;
  width: 15%;
  min-width: 170px;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #fff;
  height: 70px;
  margin-top: 35px;
  margin-left: 25px;
  border-radius: 4px;
  position: relative;
}

.ticket-list-container .ticket-container .ticket-number{
  margin-left: 5px;
}

.ticket-number-label{
  width: fit-content;
  border: 1px solid #5356ED;
  border-radius: 8px;
  margin-top: 4px;
  padding: 1px 6px;
  font-size: 14px;
  color: #5356ED;
  font-weight: 600;
  background-color: #F0F5FF;
}

.ticket-list-container .ticket-container .ticket-box{
  height: 60px;
  border-radius: 3px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.ticket-list-container .ticket-container .ticket-box .individual-number-container{
  text-align: center;
  flex-basis: 16.67%;
  margin-top: 0px;
  font-size: 14px;
  position: relative;
}

.ticket-list-container .ticket-container .ticket-box .individual-number-container .individual-number{
  color: #fff;
  background-color: #3F51B5;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.delete-ticket-container{
  position: absolute;
  transform: translate(36%, -50%);
  right: 0;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 2px 3px rgba(0, 0, 0, 0.2);
}

.delete-ticket{
  color: red;
  height: 20px !important;
  width: 20px !important;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.App-logo {
  height: 45vmin;
  width: 45vmin;
  overflow: hidden;
  border: 7px solid #fff;
  border-radius: 100%;
  cursor: pointer;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
